* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #1F4E79;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.header-el {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    margin: auto;
}

.logo img {
    height: 65px;
    width: auto;
    cursor: pointer;
}

.menu-el nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu-item {
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    padding-bottom: 3px;
}

.menu-item:hover {
    color: #02C39A;
    border-bottom: 2px solid #000000;
}

.menu-item.active {
    color: #007bff;
    font-weight: 600;
    border-bottom: 2px solid #007bff;
}


#appoint-btn {
    background: linear-gradient(to right, #02C39A, #028090);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 0;
    cursor: pointer;
    font-family: 'Cinzel Decorative', sans-serif;
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.2s ease;
}

#appoint-btn:hover {
    background: linear-gradient(to right, #028090, #02C39A);
    transform: translateY(-2px);
}

#appoint-btn a {
    color: #fff;
    text-decoration: none;
}

#appoint-btn a:hover {
    color: #000000;
}


@media (max-width: 350px) {
    header {
        height: 80px;
        padding: 0;
    }

    .header-el {
        padding: 10px 20px;
        margin: 0;
        gap: 50px;
    }

    .logo img {
        height: 70px;
    }

    .menu-el nav {
        display: none;
    }

    #appoint-btn {
        display: none;
    }
}

@media (max-width: 750px) {
    header {
        height: 90px;
    }

    .header-el {
        padding: 10px 20px;
        gap: 50px;
    }

    .logo img {
        height: 70px;
    }

    .menu-el nav {
        display: none;
    }

    .menu-item {
        font-size: 15px;
    }

    #appoint-btn {
        display: none;
    }
}

.mobile-header {
    width: 50vw;
    height: 100vh;
    background-color: #F0F3BD;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}

.mobile-header {
    transition: left 0.3s ease;
}

#menubar {
    color: white;
    cursor: pointer;
    font-size: 30px;
    display: none;
}

#menu-close {
    color: black;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10000;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    padding: 70px 20px;
    gap: 10px;
    position: absolute;
    left: 0;
}

.mobile-menu {
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-decoration: underline;
}

.mobile-menu:hover {
    color: #02C39A;
}



@media screen and (max-width: 350px) {
    .mobile-header {
        width: 50vw;
        height: 100vh;
        padding: 0;
        display: block;
    }

}

@media screen and (max-width: 750px) {
    .mobile-header {
        width: 50vw;
        height: 100vh;
        padding: 0;
        display: block;
        left: -50%;
    }
}

@media screen and (max-width: 350px) {
    #menubar {
        display: block;

    }
}

@media screen and (max-width: 750px) {
    #menubar {
        display: block;
    }
}