

@media (max-width: 350px) {
    .hero-section {
        padding-top: 80px;
    }

    .hero-section h1 {
        font-size: 1.5rem;
    }

    .hero-section p {
        font-size: 0.8rem;
        max-width: 95%;
    }

    .service-card {
        flex-direction: column;
        min-height: auto;
        padding: 10px;
        gap: 15px;
    }

    .service-card img {
        width: 90%;
        height: auto;
        border-radius: 10px;
        padding: 0;
    }
    .service-description{
        font-size: 14px;
    }

    .service-title,
    .service-description,
    .service-category {
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }
}

@media (max-width: 750px) {
    .hero-section {
        padding-top: 140px;
        height: 60vh;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-section h1 {
        font-size: 1.5rem;
    }

    .hero-section p {
        font-size: 0.8rem;
        max-width: 90%;
    }

    .service-card {
        display: flex;

        flex-direction: column;
        justify-content: center;

        align-items: center;

        min-height: auto;
        padding: 20px 5px;
        gap: 20px;
        text-align: center;
    }

    .service-card img {
        width: 100%;
        height: auto;
        border-radius: 12px;
        padding: 5px 0;
    }

    .service-title,
    .service-description,
    .service-category {
        width: 100%;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
    }
}